<h3>Add New Division</h3>

<a href="/divisions">View All Divisions</a><br>

<form action="/divisions" method="post">
  <label class="form-label" for='name'> Name to your Division:</label>
  <input id = 'name' name="name" type="text" placeholder="Division Name" autofocus>
  <button type="submit" class="button btn">Save</button>
</form>
